<header>
  {{#link-to 'index'}}<h1>RailsDiff</h1>{{/link-to}}

  <form>
    <label>
      Source
      {{view "select" content=sources value=sourceVersion}}
    </label>
    <label>
      Target
      {{view "select" content=targets value=targetVersion}}
    </label>
    <button {{action 'transition'}}>View Diff</button>
  </form>
</header>

{{#if errorMessage}}
  <div class="error">
    <h1>An error has occurred!</h1>
    <span>{{errorMessage}}</span>
  </div>
{{/if}}

<div class="content">
  {{outlet}}
</div>
