<header>
  {{#link-to "index"}}<h1>RailsDiff</h1>{{/link-to}}

  {{#if showForm}}
    <form>
      <label>
        Source
        {{version-select didChange=(action "sourceDidChange") options=sources value=sourceVersion}}
      </label>
      <label>
        Target
        {{version-select didChange=(action "targetDidChange") options=targets value=targetVersion}}
      </label>
      <button {{action "transition"}}>View Diff</button>
    </form>
  {{/if}}

  {{#link-to "about" class="about"}}About{{/link-to}}
</header>

{{#each messages as |message|}}
  <div class="message {{message.type}}" data-message-type="{{message.type}}">
    <span>{{message.message}}</span>
    <a href=":javascript" {{action "dismissMessage" message}}>X</a>
  </div>
{{/each}}

<div class="content">
  {{outlet}}
</div>
