{{page-title (t "railsdiff") separator=(t "title-separator")}}

<header>
  <NavigationNarrator @navigationText={{t "navigation.complete"}} @skipText={{t "navigation.link.title"}} />
  <LinkTo @route="index">
    <h1>
      {{t "railsdiff"}}
    </h1>
  </LinkTo>
  {{#if this.model}}
    <form {{on "submit" this.showDiff}}>
      <label for="source-version">
        {{t "source"}}
      </label>
      <Inputs::Select
        id="source-version"
        @onChange={{this.setSource}}
        @value={{this.versions.source}}
        required
        as |select|
      >
        {{#each this.versions.sources as |version|}}
          <select.option @label={{version}} @value={{version}} />
        {{/each}}
      </Inputs::Select>
      <label for="target-version">
        {{t "target"}}
      </label>
      <Inputs::Select
        id="target-version"
        @onChange={{this.setTarget}}
        @value={{this.versions.target}}
        required
        as |select|
      >
        {{#each this.versions.targets as |version|}}
          <select.option @label={{version}} @value={{version}} />
        {{/each}}
      </Inputs::Select>
      <button type="submit">
        {{t "view-diff"}}
      </button>
    </form>
  {{/if}}
  <LinkTo @route="about" class="about">
    {{t "about"}}
  </LinkTo>
</header>
<div class="content">
  {{outlet}}
</div>