<header>
  {{#link-to 'index'}}<h1>RailsDiff</h1>{{/link-to}}

  {{#if showForm}}
    <form>
      <label>
        Source
        {{view "select" content=sources value=sourceVersion}}
      </label>
      <label>
        Target
        {{view "select" content=targets value=targetVersion}}
      </label>
      <button {{action 'transition'}}>View Diff</button>
    </form>
  {{/if}}
</header>

{{#each messages}}
  <div {{bind-attr class=":message type" data-message-type=type}}>
    <span>{{message}}</span>
    <a href=":javascript" {{action 'dismissMessage' this}}>X</a>
  </div>
{{/each}}

<div class="content">
  {{outlet}}
</div>
