{{page-title
  (t
    "comparison.page-title"
    source=this.comparison.sourceVersion
    target=this.comparison.targetVersion
  )
  prepend=false
  separator=(t "title-separator")
}}

{{#each this.comparison.patch.diffs as |diff|}}
  <Diff
    @diff={{diff}}
    @linkedAnchor={{this.linkedAnchor}}
    @sourceVersion={{this.comparison.sourceVersion}}
    @targetVersion={{this.comparison.targetVersion}}
  />
{{/each}}

<footer>
  <p>
    {{t 'comparison.view-generated' htmlSafe=true source=this.comparison.sourceVersion sourceURL=this.sourceURL target=this.comparison.targetVersion targetURL=this.targetURL}}
  </p>
</footer>