<div class="index">
  {{#if this.model}}
  <section class="block">
    <form onsubmit={{action this.showDiff}}>
      <table class="form-container">
        <tr>
          <td><label for="source-version-long">{{t "source.long"}}</label></td>
          <td>
            <OneWaySelect id="source-version-long" @options={{this.versions.sources}} @required={{true}}
              @update={{action (mut this.versions.source)}} @value={{this.versions.source}} />
          </td>
        </tr>
        <tr>
          <td><label for="target-version-long">{{t "target.long"}}</label></td>
          <td>
            <OneWaySelect id="target-version-long" @options={{this.versions.targets}} @required={{true}}
              @update={{action (mut this.versions.target)}} @value={{this.versions.target}} />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="submit">{{t "view-diff"}}</button>
          </td>
        </tr>
      </table>
    </form>
  </section>
  {{/if}}

  <section class="block">
    <p>{{t "railsdiff.summary"}}</p>
  </section>
</div>

{{outlet}}