<div class="index">
  {{#if this.model}}
    <section class="block">
      <form {{on "submit" this.showDiff}}>
        <table class="form-container">
          <tbody>
            <tr>
              <td>
                <label for="source-version-long">
                  {{t "source.long"}}
                </label>
              </td>
              <td>
                <Inputs::Select
                  id="source-version-long"
                  @onChange={{this.setSource}}
                  @value={{this.versions.source}}
                  required
                  as |select|
                >
                  {{#each this.versions.sources as |version|}}
                    <select.option @label={{version}} @value={{version}} />
                  {{/each}}
                </Inputs::Select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="target-version-long">
                  {{t "target.long"}}
                </label>
              </td>
              <td>
                <Inputs::Select
                  id="target-version-long"
                  @onChange={{this.setTarget}}
                  @value={{this.versions.target}}
                  required
                  as |select|
                >
                  {{#each this.versions.targets as |version|}}
                    <select.option @label={{version}} @value={{version}} />
                  {{/each}}
                </Inputs::Select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button type="submit">
                  {{t "view-diff"}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </section>
  {{/if}}
  <section class="block">
    <p>
      {{t "railsdiff.summary"}}
    </p>
  </section>
</div>
{{outlet}}