{{#each diffs}}
  <div class="file">
    <div class="meta">
      <span>{{filePath}}</span>
    </div>
    <table class="diff">
      <tbody>
        {{#each lines}}
          <tr {{bind-attr class="type"}}>
            <td class="line-num" {{bind-attr data-line-num=deletedLineNum}}></td>
            <td class="line-num" {{bind-attr data-line-num=insertedLineNum}}></td>
            <td class="line-code">{{content}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}

{{outlet}}
