{{#each model.diffs as |diff|}}
  <div class="file">
    <div class="meta">
      <span>{{diff.filePath}}</span>
    </div>
    <table class="diff">
      <tbody>
        {{#each diff.lines as |line|}}
          <tr>
            <td class="line-num {{line.type}}" data-line-num="{{line.deletedLineNum}}"></td>
            <td class="line-num {{line.type}}" data-line-num="{{line.insertedLineNum}}"></td>
            <td class="line-code {{line.type}}">{{line.content}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}

{{outlet}}
