{{#each diffs}}
  <div class="file">
    <div class="meta">
      <span>{{filePath}}</span>
    </div>
    <table class="diff">
      <tbody>
        {{#each lines}}
          <tr>
            <td {{bind-attr class=":line-num type"}}>{{deletedLineNum}}</td>
            <td {{bind-attr class=":line-num type"}}>{{insertedLineNum}}</td>
            <td {{bind-attr class=":line-code type"}}>{{content}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}

{{outlet}}
